body{
    margin: 0px;
    width: 100%;
    color: #CACACA;
    background-color: #0A0A0A; 
}

.cyan{
    color: cyan;
}

.header{
    width: 100%;
    background-image: url(../Images/kalam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.title{
    position: relative;
    left: 50%;
    top:40px;
    width: 45%;
}

.title h1{
    margin-top: 0px;
    font-size: 50px;
    font-family: 'lato', serif;
    font-weight: 900;
   
}

 .about{
    position: relative;
    left: 52%;
    top:30px;
    width: 45%;
}

.about ul{
    font-family: 'lato',sans-serif;
    font-weight: 400;
}

.books{
 
}

.books-title{
    
}

.books-title h2{
    margin: 0px;
    font-family: 'lato',monospace;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
}

.books-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
.books-item{
     
}

.books-item img{
    height: 200px;
    width: 150px;
}

.external{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.external-item{
    margin-right: 30px;
}

.external-item a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #FFF;
    color: aliceblue;
}

.external-item h2{
   
}






